body{
    background: url("https://cdn.discordapp.com/attachments/713201747623018510/1270101532624420895/Firefly_Paisagem_montanhas_e_ponte_6668.jpg?ex=66b279ba&is=66b1283a&hm=cb7a527bcf413fd2d3b5fe9c2f1fc1a036eefdd909dec621799dd4bc1cc2eb30&");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 80px;
    color: white;
}

.atributos{
    height: 10px;
    margin: 0px 15px;
    padding: 15px 30px;
    
}