*{
    text-align: center;
}

body{
    background-image: url("../imgs/hobbit.jpg");
}

.container_resultados{
    display: flex;
    justify-content: space-around;
    color: #fff;
}

.editButton{
    background-color: black;
    color: #fff;
}

.editButton:hover{
    background-color: #fff;
    color: #000;
}